* {
  box-sizing: border-box;
  background-attachment: scroll;
}


.header {
  width: 100%;
  height: 100px;
  padding-left: 200px;
  padding-right: 200px;
  display: block;
  &__box {
    width: 100%;
    margin: 0 auto;
    padding: 15px 0 0;
    &__main {
      height: 50px;
      display: flex;
      align-items: center;
      &__icon {
        width: 150px;
        font-size: 35px;
        padding-bottom: 5px;
        margin-right: 25px;
        &__app-name {
          text-decoration: none;
          color: black;
        }
      }
      &__searchbox {
        width: calc(100% - 170px);
        height: 50px;
        &__form {
          height: 40px;
          margin-bottom: 5px;
          display: flex;
          &--input {
            width: calc(100% - 35px);
            padding-left: 5px;
          }
        }
      }
    }
    @mixin hoge($width: 100px,$text-decoration: none,$list-style: none,$color: black) {
      width: $width;
      text-decoration: $text-decoration;
      list-style:$list-style;
      color: $color;
    }
    &__nav {
      width: 100%;
      height: 35px;
      line-height: 35px;
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
      font-size: 12px;
      align-items: center;
      &__listleft {
        display: flex;
        padding-inline-start: 0;
        &__categories {
          @include hoge ();
        }
        &__brand {
          @include hoge ();
        }
      }
      &__listright {
        display: flex;
        &__login {
          @include hoge ();
        }
        &__new {
          @include hoge ();
        }
      }
    }
  }
}

.contents{
  margin: 30px auto 0;
  background-color: #fff;
  width: 70%;
  .content{
    padding: 10px;
    border-bottom: 1px solid #f6f6f6;
    display: flex;
    &__left{
      padding-right: 20px;
      &--image{
        height: 55px;
        width: 55px;
        border: solid 1px;
      }
    }
    &__right{
      width: calc(100%-100px);
      &__top{
        font-size: 20px;
        font-weight: bold;
        &--title{
          text-decoration: none;
          color: #000000;
        }
      }
      &__bottom{
        font-size: 15px;
        color: #999;
        display: flex;
        &--userName{
          &--btn{
            text-decoration: none;
            color: #999;
          }
        }
        &--date{
          margin-left: 20px;
        }
      }
    }
    &__title{
      font-size: 30px;
      font-weight: bold;
      padding-top: 30px;
      text-align: center;
    }
  }
  .postTitle{
    padding-top: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
  }
  .postDate{
    font-size: 15px;
    color: #999;
    text-align: center;
  }
  .postAuthor{
    font-size: 15px;
    color: #999;
    text-align: center;
  }
  .postManage{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    &__edit{
      display: block;
      border-radius: 5px;
      color: #ffffff;
      background-color:#55c500;
      padding: 0 10px;
      text-decoration: none;
      margin-right: 10px;
    }
    &__delete{
      display: block;
      border-radius: 5px;
      color: #ffffff;
      background-color:#55c500;
      padding: 0 10px;
      text-decoration: none;
      margin-left: 10px;
    }
  }
  .postText{
    margin: 20px 30px;
  }
  .container {
    padding: 100px 0;
    .comment-box {
      width: 80%;
      margin: 0 auto;
      height: 30px;
    }
  }
  .comments {
    padding: 5px;
    margin-top: 15px;
    a {
      text-decoration: none;
      color: black;
    }
  }
}
.form{
  width: 85%;
  height: 100%;
  margin: 0 auto;
  padding-top: 30px;
  &__title{
    display: block;
    width: 100%;
    height: 50px;
  }
  &__text{
    display: block;
    width: 100%;
    height: 50%;
    margin-top: 15px;
  }
  &__btn{
    display: block;
    width: 30%;
    margin: 30px auto 0;
  }
}
.user{
  padding: 15px 30px;
}
